modules = ["web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Web Server"

[[workflows.workflow]]
name = "Start Web Server"
author = 44779386
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve . -p 5000"

[[workflows.workflow]]
name = "Start Web Server Alternative"
author = 44779386
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000"

[[ports]]
localPort = 5000
externalPort = 80
